/* task 03 */
/* .hidden{
    display: none;
} */




/* chapter 49 */
/* task 01 */
/* .inp{
    margin: 5px;
    border-radius: 8px;
}
.inp input{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}
.inp button{
    color: #fff;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 5px;   
} */


/* task 03 */
/* 
.inp{
    margin: 5px;
    border-radius: 8px;
}
.inp input{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}
.inp button{
    color: #fff;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 5px;   
}

.hidden{
    display: none;
} */


